/* Footer.css */
.footer {
    background-color: #1b1e26;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer h3 {
    margin: 0;
  }
  