/* Footer.css */
.footer {
    background-color: #8fa78b40;;
    color: #34672d;;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer h3 {
    margin: 0;
  }
  